.form--image--group h3 {
    font-size: 19px;
    padding: 10px 0 0 10px;
}

label {
    display:block;  
    margin: 1px;
}

input {
    width: 250px;
    height: 40px;
    margin: 10px;
    border-style: solid;
    border-color: #ff5f2e;
}

.form--image--group {
    display: flex;
    justify-content: space-around;

}

.form--holidays--group {
    background-color: #004e66;
    color: white;
}

.form--holidays {
    display: flex;
    padding: 20px;  
}

.button--find {
    display: flex;
    align-items: flex-end;
    margin-bottom: -30px;
    margin-left: -140px;
}

select
{
    width: 250px;
    height: 40px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #ff5f2e;
}

label {
    margin-left: 10px;
}

button {
    background-color: #ff5f2e;
    border: none;
    border-radius: 2px;
    width: 130px;
    height: 30px;
    color: white;
    
}


.image--top {
    position: relative;
    height: 320px;
    width: 100%;
    margin-left: 20px;
    font-weight: bold;
    background: rgba(255,255,255,0.5)
}

 .image--top--image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.image--top--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.image--top--botton {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;  
}

.image--top--text h4 {
    font-size: 28px;
    margin: 20px 0px 0px 15px;
}

.image--top--botton h5 {
    font-size: 28px;
    margin-left: 1px;
    line-height: 1.6;
}

.image--top--botton--text {
    line-height: 1.2;
    font-style: italic;
}

.image--top--botton div {
    margin: 0px 0px 30px 15px;
}

#image--top--price {
    margin-right: 0px;
    padding: 5px;
    background-color: #fcbe32;
    font-style: normal;
}

@media only screen and (max-width: 990px) {

    body {
        margin: auto;
    }

    .form--image--group {
        display: block;
        width: 100%;
    }

    .form--holidays {
        display: block;
        width: 100%;
        height: 100%; 
    }
    
    .button--find {
       width: 90%;
       margin: 10px;
    }
    

    select {
        width: 90%;
        margin: 10px;
        -webkit-box-sizing: border-box;  /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;  /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }

    input {
        width: 90%;
        margin: 10px;
        -webkit-box-sizing: border-box;  /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;  /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }

    button {
        border-radius: 2px;
        margin: 10px;
        width: 90%;
        height: 30px;
        -webkit-box-sizing: border-box;  /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;  /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }

    label {
        margin-left: 10px;
    }

    .image--top--image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        background: rgba(255,255,255,0.5)
    }

    .image--top {
        margin-left: 0px;
    }

}



/* destinations */


@media only screen and (max-width: 990px) {

}