.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--brand {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 10px;
}

.title--brand {
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    color : #004e66;
    list-style: none;
}

.navbar--links ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar--links li {
    list-style: none;
}

.navbar--links li a {
    text-decoration: none;
    color : #004e66;
    padding: 20px;
    display: block;
    font-weight: bold;
}

.navbar--links li:hover {
    background-color : #e1eef6;
}

#orange {
    color: #FF6600;
}

.toggle--button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle--button .bar {
    height: 3px;
    width: 100%;
    background-color: #FF6600;
    border-radius: 10px;
}

@media only screen and (max-width: 990px) {

    .toggle--button {
        display: flex;
    }

    .navbar--links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start ; 
    }

    .navbar--links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar--links li {
        text-align: center;
    }

    .navbar--links li a{
        padding: .10em 1em;
    }

    .navbar--links.active {
        display: flex;
        padding-bottom: 50px;
    }
    .navbar--brand img {
        margin: 0px 50px;
    }

}
